@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dongle', sans-serif;
  user-select: none;
}

html {
  font-size: 62.5%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 250ms ease-in;
}

button:active {
  transform: scale(0.9);
}
